@media ( max-width: 600px ) {
   .header__body{
      height: 50px;
   }
   .header__logo{
      flex: 0 0 40px;
   }
   
   .header__memu{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
   background-color: rgba(96, 159, 180, 0.789);
   }
   .header__menu--burger{
      display: block;
      width: 25px;
      height: 22px;
      top: 0;
      bottom: 0;
      /*right: 12px;*/
      position: relative;
      z-index: 5;
      /*border: 1px solid #000;*/
      
   }
   .header__menu--burger span{
      /*border: 1px solid #000;*/
      width: 100%;
      height: 2px;
      top: 10px;
      background-color: #fff;
      position: absolute;
      
      transition: 0.2s;
   }
   .header__menu--burger::before,
   .header__menu--burger::after{
      content:"";
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #fff;
      top: 10px;
      left: 0;
      transition: 0.2s;
   }
   .header__menu--burger::before{
      transform: translateY(-7px);
      }  
   .header__menu--burger::after{
      transform: translateY(7px);
   }

   .header__menu--burger-active span{
      
      transform: scale(0);

   }
   .header__menu--burger-active::before{
      transform: rotate(-45deg);
      /*width: 10px;*/
      /*transform-origin:left bottom ;*/
   }
   .header__menu--burger-active::after{
      transform: rotate(45deg);
      /*width: 10px;*/
      /*transform-origin: left top;*/
   }
   .header__menu--item .active{
      display: block;
   }
   /*.header__menu--item-active{
      display: block;
   }*/


   




}

@media ( min-width: 600px ) {
   .header__menu--burger{
      display: none;
   }
}
